<!-- app/templates/lorem.html -->

{% extends "base.html" %}
{% block title %}Lorem Ispum{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Lorem Ispum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget sollicitudin massa, non tincidunt dui. 
        Curabitur nec nisi ex. Sed placerat odio semper, auctor turpis eget, placerat tortor. Nunc quis justo gravida, facilisis mi vel, accumsan neque. 
        Ut varius diam lectus, eget eleifend diam blandit ac. Maecenas facilisis consequat nulla, sit amet ornare augue accumsan eu. Morbi vitae massa et magna placerat ullamcorper. 
        Vivamus congue congue pellentesque. Etiam mollis ornare augue, eu lobortis massa fringilla eu. Integer aliquet orci semper orci aliquam bibendum. 
        Quisque posuere aliquam lacinia. Nam quis consequat nisi. Fusce porta dui id eleifend efficitur. Aenean vitae molestie nulla, non ultricies lectus. 
        In id viverra neque, et dictum sapien. Sed a vulputate sapien.
    </p>
</div>
{% endblock %}