<!-- app/templates/test.html -->

{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block body %}
<div class="jumbotron">
	<h1>Testing page</h1>
	<p>Why? cause I feel like adding another page, that's why</p>
</div>
<div class="row marketing">
	<div class="col-lg-6">
		<h4>Why I made this website</h4>
		<p>
			I created this website as a knowledge test for myself on the Flask framework. I am also using this to learn to properly use git and github
		</p>
		<h4>
			Subheader
		</h4>
		<p>
			Text body for Subheader
		</p>
	</div>
</div>
{% endblock %}